*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
#banner{
    background-image: url(../images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_content{
    width: 826px;
    height: 320px;
    margin: auto;
    padding: 175px 0;
    text-align: center;
}
.banner_content h1{
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}
.banner_content p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    line-height: 28px;
    padding: 10px 80px;
    margin-bottom: 30px;
}
.donation-btn {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    background-color: #FF5959;
    padding:20px;
    border-radius: 5px;
}
#donate_today_section{
    background-color: #fff;
}
.section_header{
    width: 870px;
    margin: auto;
    text-align: center;
    padding-top: 130px;
    padding-bottom:35px ;
}
.section_header h2{
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    color: #000;
}
.section_header p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #707070;
    line-height: 28px;
    padding: 10px 144px;
}
.container{
    width: 760px;
    margin: auto;
    display: flex;
}
.container_item{
    width: 135px;
    padding: 45px 15px;
    text-align: center;
    background-color: #FAFAFA;
    margin:0 10px 35px;
    border-radius: 10px;
}
.container_item h3{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #707070;
}
.highlight_item{
    background-color: #FFEEEE;
}
.highlight_item h3{
    color: #FF5959;
}
.inputAndBtn{
    width: 765px;
    margin:0 auto 50px;
    text-align: center;
}
.inputAndBtn input{
    width:100% ;
    border: none;
    border-bottom: 2px solid #DADADA;
    text-align: center;
    color: #B3B3B3;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 28px;
    margin-bottom:40px ;
}
#donate_plan_section{
    background-color: #fff;
    padding: 20px;
}
#donate_plan_section .container{
    width:1130px;
}
.dnt_plan_item {
    width: 360px;
    margin: 0 12px;
    background-color: rgba(79, 157, 166, .2);
    padding: 30px 20px;
    border-radius: 5%;
}
.bgOfMiddleItem{
    background-color: rgba(255, 89, 89, .2);
}
.bgOfLastItem{
    background-color: rgba(255, 244, 214, .9);
}
.dnt_plan_item img{
    width: 50px;
    height: 50px;
    padding-top: 30px;
}
.dnt_plan_item h3{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color:#121212;
    padding-top: 30px;
}
.dnt_plan_item p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#707070;
    padding: 30px 20px 0 0;
}
.subscription{
    width: 810px;
    margin: auto;
    text-align: center;
    background-color: #AA9F9F;
    padding: 70px 0;
    margin-bottom: 50px;
}
.subscription input[type=email]{
    width: 275px;
    border: none;
    background-color: #D9D9D9;
    padding:14px 0 14px 5px;
    color: #000000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.subscription input[type=button]{
    background-color: #FF5959;
    border: none;
    padding:14px 40px;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin: -4px;
    cursor: pointer;
}
#footer{
    background-color: #000;
    text-align: center;
    padding: 45px 0;
}
#footer h3{
    font-family: 'Lobster', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #FF5959;
    text-transform: capitalize;
}
#footer p{
    font-size: 14px;
    font-weight: 400;
    color: #D9DBE1;
}